.container {
    background: #343434;
    text-align: center;
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: 525px 450px 525px;
    grid-column: 3;
}

.fields-container {
    background: #282c34;
    width: 400px;
    float: left;
    margin: 25px;
    padding: 25px;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-button {
  background-color: #4CAF50;
  color: white;
  padding: 8px;
  font-size: 16px;
  border: none;
  cursor: pointer;
  width: 100px;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  margin-left: -30px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 8px;
  text-decoration: none;
  display: block;
  cursor: pointer;
}

.dropdown-content a:hover {background-color: #f1f1f1}

.dropdown:hover .dropdown-content {
  display: block;
}

.components-container {
    background: #282c34;
    width: 400px;
    float: left;
    margin: 25px;
    padding: 25px;
    clear: left;
}

.card-container {
  background: #282c34;
  width: 400px;
  height: 750px;
  float: right;
  margin: 25px;
  clear: right;
}

.remove-container {
  width: 450px;
  height: 800px;
  background: #e74c3c;
  margin: 25px;
  float: right;
  clear: right;
}

.labelTop {
  text-align: left;
}

.rowContainer {
  height: 40px;
  display: flex;
  align-items: center;
}

.FormFieldTopLeft {
    width: 100px;
    float: left;
}

.FormFieldTopRight {
    width: 300px;
    float: right;
}

.card-container {
    background: chartreuse;
    width: 400px;
    float: left;
    margin: 25px;
}

.formTextfield {
  width: 293px;
  max-width: 293px;
  padding: 0px;
  margin-left: 5px;
  resize: vertical;
  min-height: 50px;
}

.icon {
    background: green;
    height: 50px;
    width: 50px;
    text-align: center;
    float: left;
}

.attack {
    background: red;
    height: 50px;
    width: 50px;
    text-align: center;
    float: left;
}

.health {
    background: blue;
    height: 50px;
    width: 50px;
    text-align: center;
    float: right;
}

.image {
    height: 400px;
    width: 400px;
    float: left;
}

.description {
    background: grey;
    height: 100px;
    width: 400px;
    text-align: center;
    float: left;
    word-break: break-word;
}

.card-image {
  width: 100%;
  height: 100%;
  object-fit: contain;
  display: block;
  margin-bottom: 0;
  background-color: black;
}

.name {
    background: #61dafb;
    height: 50px;
    width: 300px;
    text-align: center;
    float: left;
}

.movement {
    background: gray;
    height: 50px;
    width: 50px;
    text-align: center;
    float: left;
}

.oneBlock {
  background: gray;
  height: 50px;
  width: 50px;
  text-align: center;
  float: left;
}

.twoBlock {
  background: gray;
  height: 50px;
  width: 100px;
  text-align: center;
  float: left;
}

.threeBlock {
  background: gray;
  height: 50px;
  width: 150px;
  text-align: center;
  float: left;
}

.fourBlock {
  background: gray;
  height: 50px;
  width: 50px;
  text-align: center;
  float: left;
}

.fiveBlock {
  background: gray;
  height: 50px;
  width: 250px;
  text-align: center;
  float: left;
}

.sixBlock {
  background: gray;
  height: 50px;
  width: 300px;
  text-align: center;
  float: left;
}

.sevenBlock {
  background: gray;
  height: 50px;
  width: 350px;
  text-align: center;
  float: left;
}

.eightBlock {
  background: gray;
  height: 50px;
  width: 400px;
  text-align: center;
  float: left;
}

.doubleBlock {
  background: gray;
  height: 100px;
  width: 400px;
  text-align: center;
  float: left;
}

input {
    margin: 5px;
}

label {
    color: white;
}
