.container {
    background: #343434;
    text-align: center;
    width: 100vw;
    height: auto;
}

.fields-container {
    background: #282c34;
    width: 400px;
    float: left;
    margin: 25px;
    padding: 25px;
}

.labelTop {
  text-align: left;
}

.rowContainer {
  height: 40px;
  display: flex;
  align-items: center;
}

.FormFieldTopLeft {
    width: 100px;
    float: left;
}

.FormFieldTopRight {
    width: 300px;
    float: left;
}

.card-container {
    background: chartreuse;
    width: 400px;
    float: left;
    margin: 25px;
}

.formTextfield {
  width: 293px;
  max-width: 293px;
  padding: 0px;
  margin-left: 5px;
  resize: vertical;
  min-height: 50px;
}

.icon {
    background: green;
    height: 50px;
    width: 50px;
    textAlign: center;
    float: left;
}

.attack {
    background: red;
    height: 50px;
    width: 50px;
    textAlign: center;
    float: left;
}

.health {
    background: blue;
    height: 50px;
    width: 50px;
    textAlign: center;
    float: right;
}

.image {
    height: 400px;
    width: 400px;
    float: left;
}

.description {
    background: grey;
    height: 100px;
    width: 400px;
    textAlign: center;
    float: left;
    word-break: break-word;
}

.name {
    background: #61dafb;
    height: 50px;
    width: 300px;
    textAlign: center;
    float: left;
}

.movement {
    background: gray;
    height: 50px;
    width: 50px;
    textAlign: center;
    float: left;
}

input {
    margin: 5px;
}

label {
    color: white;
}
